
/* Default background colors for sections */
#about {
    background-color: #f0f8ff; /* Light blue */
}

#skills {
    background-color: #e6ffe6; /* Light green */
}

#experiences {
    background-color: #fff0e6; /* Light orange */
}

#more {
    background-color: #f9f9c5; /* Light yellow */
}

#reflection {
    background-color: #e6e6ff; /* Light purple */
}

/* Media query for smaller screens */
@media (max-width: 460px) {
    #about,
    #skills,
    #experiences,
    #more,
    #reflection {
        background-color: white;
    }
}
